body {
  background-color: #161616;
}

body > .grid {
  height: 100%;
}

.image {
  margin-top: -100px !important;
}

.column {
  max-width: 600px;
}

.demisto-green {
  color: #FFFFFF !important;
}

.header .image {
  background-color: #161616 !important;
  width: 100% !important;
}
