body {
  background-color: #DADADA;
}

body > .grid {
  height: 100%;
}

.image {
  margin-top: -100px !important;
}

.column {
  max-width: 450px;
}

.demisto-green {
  color: #618081 !important;
}

.submit {
  background-color: #618081 !important;
}

.header .image {
  background-color: #618081 !important;
  width: 100% !important;
}